<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Medicine{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/style.css" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    {% block head %}{% endblock %}

</head>
<body>
    {% block header %}
        <a href="{% url 'index' %}" id="home">HOME</a>
        <div>Hello, <a href="{% url 'edit_profile' %}">{{ user.first_name }} {{ user.last_name }}</a>,
            <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
        </div>
    {% endblock %}
    {% block content %}{% endblock %}
</body>
</html>